.App{
    text-align: center;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
}
